.Button{
    width: 47px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: filter .2s ease-in;
    outline: none;
    border-radius: 8px;
    font-weight:bold
}

.Button:active,
.Button:focus{
    filter: brightness(130%);
    font-weight:400
}

.Button.equals{
    height: 80%;
    grid-column: 4;
    grid-row: 4/span2;
    background:#FA940F;
}

.Button.function{
    color: #FA940F;
}
.Button.operator{
    color: #FA940F;
}

@media (max-width: 360px){
    .Button{
        width: 39px;
        height: 45px;
        border-radius: 4px;
    }
}
@media (max-width: 425px) and (min-width:360px){
    .Button{
        width: 44px;
        height: 54px;
        border-radius: 5px;
    }
}

@media (min-width: 1024px) and (max-width:1280px){
    
}