.view{
}
.calculation{
    text-align: right;
    height:40% ;
    font-size: 2rem;
    width: 100%;
}
.total{
    text-align: right;
    height: 60%;
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
}

.calculation.length{
    font-size: 1.5rem;
    word-wrap: break-word;
}
.total.lengthy{
    font-size: 2rem;
    word-wrap: break-word;
}