*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body{
  background-color:#e8e4c9;
  display: grid;
  place-content: center;
  height: 100vh;
}

.container {
  width: 40vh;
  height: 80vh;
  background: black;
  color: white;
  border-radius: 2.5rem;
  box-shadow: 11px 10px 11px -10px rgba(23,21,21,0.73);
  -webkit-box-shadow: 11px 10px 11px -10px rgba(23,21,21,0.73);
  -moz-box-shadow: 11px 10px 11px -10px rgba(23,21,21,0.73);
}

.wrapper{
  display: grid;
  height: 100%;
  width: 100%;
  margin-left: 3px;
  padding: 1rem .5rem;
}

.buttons{
  font-size: 2rem;
  display: grid;
  grid-gap:4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

@media only screen and (max-width: 540px){
  .wrapper{
    margin-left: 11px;
  }
}
